<div class="pl-4 is-flex is-align-items-center">
    <img src="/assets/yak.jpg" alt="yak logo here" width="48" />
    <span class="is-size-5 has-text-weight-bold">Shepherd & Co</span>
</div>
<nav class="navbar is-dark" role="navigation">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" routerLink="/">
                Home
            </a>
            <a class="navbar-item" routerLink="/orders">
                My Orders
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div>My Balance Component</div>
            </div>
        </div>
    </div>
</nav>
