 <table class="table">
  <thead>
  <tr>
    <th>Order Date</th>
    <th>Symbol</th>
    <th>Units</th>
    <th>Bid Price</th>
    <th>Status</th>
    <th>Trade Date</th>
    <th>Trade Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orderHistory$ | async">
    <td>{{ order.orderDate | date:'short' }}</td>
    <td >{{ order.symbol }}</td>
    <td class="has-text-right">{{ order.quantity }} </td>
    <td class="has-text-right">{{ order.bidPrice | number:'.3-3' }}</td>
    <td>{{ order.status }}</td>
    <td>{{ order.tradeDate | date:'short' }}</td>
    <td>{{ order.tradePrice | number:'.3-3' }}</td>
  </tr>
  </tbody>
</table>
