<p class="is-size-3 has-text-weight-bold">{{ stock.symbol }}</p>
<p>Company: [Company description and name]</p>
<p>
  Last trade price:
  <span class="is-size-5 has-text-weight-bold">{{
    stock.lastPrice | number: '.3-3'
    }}</span>
</p>
<p class="is-size-5 is-italic pt-4">
  To place an order, complete the details below
</p>
<div class="field pt-4">
  <label class="label">Quantity</label>
  <div class="control">
    <input
      class="input is-info"
      [class.is-danger]="
            quantityControl.invalid &&
            (quantityControl.dirty || quantityControl.touched)
          "
      type="number"
      [formControl]="quantityControl"
    />
  </div>
  <ng-container
    [ngSwitch]="
          quantityControl.invalid &&
          (quantityControl.dirty || quantityControl.touched)
        "
  >
    <p class="help is-danger" *ngSwitchCase="true">Quantity is invalid</p>
    <p class="help is-info" *ngSwitchCase="false">Units to order</p>
  </ng-container>
</div>
<label class="checkbox">
  <input type="checkbox" [formControl]="customBidPriceControl" />
  Don't like the current price? Set a custom one
</label>
<div *ngIf="customBidPriceControl.value" class="field pt-4">
  <label class="label">Bid Price</label>
  <div class="control">
    <input
      class="input is-info"
      autofocus
      [class.is-danger]="
            bidPriceControl.invalid &&
            (bidPriceControl.dirty || bidPriceControl.touched)
          "
      type="number"
      [formControl]="bidPriceControl"
    />
  </div>
</div>
<div class="field is-grouped pt-4">
  <div class="control">
    <button
      class="button is-info"
      [disabled]="!quantityControl.valid"
      (click)="placeOrder()"
    >
      Place Order
    </button>
  </div>
</div>
