<div class="is-flex is-justify-content-center">
  <table class="table">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Last Price</th>
        <th>Change</th>
        <th>% Change</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stockPrices">
        <td>{{ stock.symbol }}</td>
        <td class="has-text-right">{{ stock.lastPrice | number: ".3" }}</td>
        <td class="has-text-right">
          <app-stock-price-movement [priceChange]="stock.delta">{{
            stock.delta | number: ".3"
          }}</app-stock-price-movement>
        </td>
        <td class="has-text-right">
          <app-stock-price-movement [priceChange]="stock.delta">{{
            stock.deltaRatio | percent: ".2"
          }}</app-stock-price-movement>
        </td>
        <td><a type="button" (click)="buyStock(stock)" href="#">buy</a></td>
        <td><app-stock-price-staleness [priceDate]="stock.priceDate"></app-stock-price-staleness></td>
      </tr>
    </tbody>
  </table>
</div>
<app-modal title="Stock details">
  <ng-container *ngIf="selectedStock">
    <app-buy-stock [stock]="selectedStock" (placeOrderEvent)="placeOrder($event)"></app-buy-stock>
  </ng-container>
  <ng-container *ngIf="orderPlaced">
    <p>You have placed an order for {{ orderPlaced.quantity }} units of stock {{ orderPlaced.symbol }} at price {{ orderPlaced.bidPrice | number:'.2'}}</p>
  </ng-container>
</app-modal>
